<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <ul>
    <form action='/team' method='post'>
        <li><input type="text" name="name">Team Name</input></li>
        <li><input type="text" name="coach">Coach</input> </li>
        <li><input type="text" name="pg">Point Guard</input> </li>
        <li><input type="text" name="sg">Shooting Guard</input> </li>
        <li><input type="text" name= "sf">Small Foward</input> </li>
        <li> <input type="text" name="pf">Power Foward</input> </li>
        <li><input type="text" name= "c">Center</input>  </li>
        <li><input type="submit" id="Submit"> </input> </li>
    </form>
</ul>
 </body>
</html>


